@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  z-index: 9999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.navbar-fixed {
  background-color: rgba(255, 255, 255, 0);
}

.hamburger-line {
  margin: 8px 0;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #1a1a1a;
}

.hamburger-line {
  background-color: rgb(255, 255, 255);
}

.hamburger-active > span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2) {
  transform: scale(0);
}

.hamburger-active > span:nth-child(3) {
  transform: rotate(-45deg);
}

.games {
  @apply hover:scale-125 duration-300 ease-in-out;
}
